/* PC */
@media only screen and (min-width: 1023px) {
    #header .menu-mobile-btn{
        display: none;
    }
}

/* Tablet and mobile */
@media (max-width:1023px){
    .btn{
        padding:15px 16px;
    }
    .contact-form .form-control{
        padding:15px;
    }
    .contact-info{
        line-height: 2;
    }
    .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin:0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 739px) and (max-width: 1023px) {
    #header .menu-mobile-btn{
        display: none;
    }
}

/* Mobile: width < 740px */
@media (max-width: 740px) {
    #header{
        overflow: hidden;
    }
    #nav>li{
        display: block;
    }
<<<<<<< HEAD
    #slider .text-content,
=======
<<<<<<< HEAD
=======
    #slider .text-content,
>>>>>>> 37d289d (My new commit message)
>>>>>>> 53f685e2ec1443a001ae4d2f459231c4362a6728
    #header .search-butt{
        display: none;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav{
        display: block;
    }
    #content .member-img{
        width: 60%;
    }
    .location-items:not(:last-child),
    #content .member-content:not(:last-child),
    #contact .contact-info{
        margin-bottom: 32px;
    }
    .btn{
        width: 100%;
    }
}


